.ContentCellLayout__content-cell___2FDKR{height:100%;overflow:hidden;text-overflow:ellipsis;vertical-align:center;white-space:nowrap;width:100%;word-break:normal;word-wrap:normal}[dir] .ContentCellLayout__content-cell___2FDKR{padding:8px}

.ClinicalDataGridCommon-test-module__content-wrapper___1Vc7k{height:100%;width:100%}.ClinicalDataGridCommon-test-module__content-overflow___JHS2g{overflow:auto}

